.editor-div__wrapper{
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right:auto;
    /* background-color:#fff; */
    cursor: text;
    margin-top: 50px;
    padding: 10px;
    position: relative;
}
.editor-div__panel{
    height: 400px;
}
.editor-span__placeholder{
    position: absolute;
    top:10px;
    left:10px;
    color:#e3e3e3;
}
.editor-div__tool{
    position: absolute;
    top: -30px;
    display: flex;
    width: 100%;
}
.editor-button__item{
    margin-right: 5px;
    display: flex;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px;
}